{% extends 'base/base.html' %}

{% block title %}لوحة تحكم المالك{% endblock %}

{% block content %}
<div class="container py-4">
    <h2>لوحة تحكم المالك</h2>
    
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5>إجمالي الشقق</h5>
                    <h3>{{ total_apartments }}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5>الشقق المعتمدة</h5>
                    <h3>{{ approved_apartments }}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5>الحجوزات المعلقة</h5>
                    <h3>{{ pending_bookings }}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5>إجمالي الحجوزات</h5>
                    <h3>{{ total_bookings }}</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>شققي</h5>
                </div>
                <div class="card-body">
                    <a href="{% url 'my_apartments' %}" class="btn btn-primary">إدارة الشقق</a>
                    <a href="{% url 'add_apartment' %}" class="btn btn-success">إضافة شقة جديدة</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>الحجوزات</h5>
                </div>
                <div class="card-body">
                    <a href="{% url 'manage_bookings' %}" class="btn btn-primary">إدارة الحجوزات</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}