{% extends "base/base.html" %}

{% block title %}404 - الصفحة غير موجودة{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="error-template">
                <h1>404</h1>
                <h2>عذراً، الصفحة غير موجودة</h2>
                <div class="error-details my-4">
                    الصفحة التي تبحث عنها غير موجودة أو تم نقلها أو حذفها.
                </div>
                <div class="error-actions">
                    <a href="{% url 'home' %}" class="btn btn-primary">
                        <i class="fa fa-home"></i> العودة للصفحة الرئيسية
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}